profiles {
    slurm {
        process {
            executor = 'slurm'
            cpus = 2 // Number of CPUs requested for each process
            memory = '16 GB' // Memory requested for each process
            time = '4h' // Maximum time requested for each process
            clusterOptions = '-A ckb.prj' // Additional SLURM directives if needed, like account name
        }

        // Define any environment modules or software paths
        // This is useful if your workflow needs specific software loaded
        env {
            PATH = "/well/ckb/users/aey472/program_files/miniconda3/envs/nextflow/bin:$PATH"
        }

        // Docker/Singularity settings if you're using containers
        // This is not mandatory but can be configured here if needed
        docker {
            enabled = false
        }
        singularity {
            enabled = false
        }

        // Custom parameters specific to the profile
        params {
            // Define any workflow-specific parameters here
            // For example, paths to data or output directories
            protein_data = "/well/ckb/users/aey472/projects/HLA_proteomics/data"
            genetic_data = "/well/ckb/users/aey472/projects/HLA_proteomics/data/genetic_data"
            output = "/well/ckb/users/aey472/projects/HLA_proteomics/output"
        }
    }
}

// Default settings (applied if no profile is specified)
process {
    executor = 'local'
    memory = '8 GB'
    cpus = 1
    time = '1h'
}
